/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Area */

body {

    background-color: #F8F8FF;
    font-family: 'Titillium Web', sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}

/* Navigation Bar */

.navbar {
    position: relative;
    background-color: black;
    
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: 1;
  
}

.container {
    cursor: pointer;
    font-size: 16px;
    border-width: 2px;
    border-bottom-width: 2px;
    border-color: silver;
    border-bottom-style: solid;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    transition: all .3s ease-in-out;
}

.navbar ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 7px 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all .3s ease-in-out;
}

.pg-ul a:hover {
    color: crimson;

}

.navbar a.active {
    color: crimson;

}

.navbar-icons {
    font-size: 1.4rem;
    color: white;
    transition: all .3s ease-in-out;
}

.navbar-icons ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar-icons a {
    padding: 7px 5px;
}

.active {
    color: crimson;

}

/* Navigation Bar - Logo */

.logo {
    font-family: 'Major Mono Display', monospace;
}


/* Navigation Bar - Icons */

#twitter-ico:hover {
    color: #1DA1F2;
}

#fb-ico:hover {
    color: #3b5998;
}

#insta-ico:hover {
    color: #d62976;
}

#yt-ico:hover {
    color: red;
}

#tiktok-ico:hover {
    color: #ff0050;
}

#vk-ico:hover {
    color: #4C75A3;
}

#discord-ico:hover {
    color: #5865F2;
}

.res-icon {
    display: none;
}

/* Responsive Navigation Bar*/
.topnav {
    display: none;
    z-index: 2;
    width: 100%;
    height: auto;
    background: linear-gradient(270deg, #191e2b 0, #333b54 52.08%, #141822 100%), #191e2b;
    color: white;
}

.topnav a {
    float: left;
    display: block;
}

/* Intro Message */
.intro-msg{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    color: white;
    font-family:f;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 9%;
    padding-right: 9%;
    font-family: 'Titillium Web', sans-serif;
    
}

.intro-msg-div{
   padding: 30px;
  cursor:text;

}
/* Games */
.games {
    margin-top: -50px;
    width: 100%;
    height: 220px
}


.games-showcase {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 170px;   
}

.gmc{
    margin:auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

.gmc:hover{

   transform:scale(1.2);
   cursor: pointer;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   object-fit: fill;
}

/* Footer */

.b-footer {

    display: flex;
    height: auto;
    background-color: black;

}

.f-intro-p {
    margin-bottom: 20px;

}

.bf1,
.bf2,
.bf3,
.bf4 {
    display: flex;
    height: 100%;
    padding-top: 45px;
    flex-direction: column;
    color: white;
    text-underline-offset: 15px;
    overflow: hidden;
    padding-bottom: 45px;
}

.bf1 {
    width: 32%;
    padding-left: 50px;
}

.bf2 {
    width: 33%;
    align-items: center;
}

.bf3 {
    width: 15%;
    align-items: center;
}

.bf4 {
    width: 20%;
}

.bf1 ul,
.bf2 ul,
.bf3 ul,
.bf4 ul {
    list-style-type: none;

}

.bf3 ul li,
.bf4 ul li {
    margin-top: 5px;

}

.bf2 ul li a,
.bf3 ul li a,
.bf4 ul li a {
    text-decoration: none;
    color: white;
}

.bf2 ul li a:hover,
.bf3 ul li a:hover,
.bf4 ul li a:hover {
    color: crimson;
    transition: all .3s ease-in-out;
}

.sp-li {
    margin-bottom: 20px;
    font-size: 13.5px;
}

.sp-u {
    text-decoration-color: crimson;
}


.footer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: white;
    font-weight: bold;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));


}


.footer2-p1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    line-height: 24px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    letter-spacing: 1px;

}

.footer2-p2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    line-height: 24px;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    letter-spacing: 1px;

}


/* Media Queries*/

@media screen and (max-width: 1040px) {
    .pg-ul a {
        display: none;
    }

    .res-icon {
        display: block;
        margin: 0px 20px 0px 15px;
    }

    .topnav.responsive {
        position: absolute;
        display: block;
    }

    .topnav.responsive a {
        float: none;
        display: flex;
        color: white;
        font-size: 16px;
        text-decoration: none;
        margin: 30px 0px 30px 0px;
        align-items: center;
        justify-content: center;
    }

    .topnav.responsive a:hover {
        color: crimson;
        transition: all .3s ease-in-out;
    }

}

@media screen and (max-width: 1025px) {

    .main-img {

        max-height: 50vh;
    }

    .b-footer {
        flex-direction: column;
    }

    .bf1 {
        width: 100%;
        padding: 50px 100px 0px 100px
    }

    .bf2,
    .bf3 {
        align-items: baseline;
        width: 100%;
        padding: 50px 100px 0px 100px
    }

    .rspli {
        display: flex;
        flex-direction: row;
    }

    .rspli li a {
        margin-right: 10px;
    }

    .bf4 {
        width: 100%;
        padding: 50px 100px 50px 100px
    }
}


@media screen and (max-width: 630px) {

    .footer2-p2 {
        margin-right: 5%;
    }

    .bf4 {
        padding: 50px 50px 50px 50px;
    }

    .bf1,
    .bf2,
    .bf3 {
        padding: 50px 50px 0px 50px;
    }

}

@media screen and (max-width: 590px) {

    .footer2-p1 {
        margin-left: auto;
        margin-right: auto;
    }

    .footer2-p2 {
        margin-left: auto;
        margin-right: auto;

    }

    .footer2 {

        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (max-width: 550px) {

    .temp-hide-ico {
        display: none;
    }

}